body, html {
    margin: 0;
    padding: 0;
    /*  background-color: #00b894;*/
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat';
}

#link {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

#content {
    width: 45vw;
    max-width: 800px;
    height: 80vh;
    max-height: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    display: flex;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    overflow: hidden;
}

#login_overlay {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    width: 50%;
    height: 100%;
    top: 0;
    position: absolute;
}

#signup_overlay {
    background-image: url(../img/doanphu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    pointer: pointer;
    transition: .3s all ease-in-out;
}

.card_gone {
    transform: translate(0, -100%);
}

.card > p {
    width: 80%;
    text-align: justify;
    /*font-weight: 200;*/
    cursor: pointer;
}

h2 {
    font-weight: bold;
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    transition: all .1s ease-in-out;
    /*  font-weight: 100;*/
}

a:hover {
    transform: scale(1.1);
}

#login, #signup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    /* width: 100%;*/
    text-align: center;
    /*font-weight: 900;*/
}

.form {
    padding: 20px;
}

input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-sizing: border-box;
}

.buttonx2 {
    padding: 10px;
    border: 0;
    margin-top: 10px;
    background-image: linear-gradient(120deg, #c471f5 0%, #fa71cd 100%);
    color: white;
    font-weight: 900;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9em;
}

button > i {
    margin-right: 7px;
}

button:hover {
    transform: scale(1.05);
}

div.alert-danger {
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 22px;
    color: red;
}

.erro_x1 {
    margin-left: 15px;
    font-family: sans-serif;
    color: red;
    font-size: 12px;
}
